@import '../../../../css/adaptive.scss';

.wrap {
  display: none;
  position: absolute;
  z-index: -1;
  pointer-events: none;
  background-repeat: no-repeat;

  transition: background-image 200ms;

  @include screen-m {
    display: block;
    bottom: 5px;
    right: 0;
    width: 344px;
    height: 407px;
    background-size: 100%, 100%;
    background-position: 500px 500px, 0 0;
    background-image: url('./images/image-small-black.svg'), url('./images/image-small-white.svg');
  }

  @include screen-l {
    top: 0;
    left: 0;
    right: auto;
    bottom: auto;
    width: 100%;
    height: auto;
    aspect-ratio: 1716/719;
    background-size: 100%, 100%;

    background-position: 5000px 5000px, 0 0;
    background-image: url('./images/image-black.svg'), url('./images/image-white.svg');
  }
}

:global(.dark-theme) {
  .wrap {
    @include screen-m {
      background-position: 0 0, 500px 500px;
    }

    @include screen-l {
      background-position: 0 0, 5000px 5000px;
    }
  }
}
